html {
  margin: 0;
}
body {
  border: 5px solid black;
}
h1 {
  text-align: center;
  color: blue;
}
form {
  text-align: center;
}

table,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
  width: 800px;
  height: 25px;
}

.dosection {
  border: 1px solid gray;
  display: inline-block;
  width: 49%;
  height: 500px;
}
.donesection {
  border: 1px solid gray;
  display: inline-block;
  width: 49%;
  height: 500px;
}
